body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.vglasses__model{
  background-image: url('../public/glassesImage/model.jpg');
  background-position: center top;
  background-size: cover;
  height: 600px;
  
}
.vglasses__model img{
  position: absolute;
  top: 32%;
  left: 25%;
  width: 238px;
  height: 85px;
  opacity: 0.9;
}
.vglasses__card{
  position: relative;
  overflow: hidden;
  background-color: white;
}
.vglasses__info{
  position: absolute;
  bottom:0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  color: white;
  padding: 20px;
 display: none;
}